---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Do it yourself",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Unlimited users",
      "Unlimited Uses",
      "All features",
      "All instructions",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "https://github.com/AmazoniaLeaksOficial/OSINTMachineGuide",
    },
  },
  {
    name: "Individual",
    price: {
      monthly: "$100",
      annual: "$1000",
      discount: "10%",
      original: "$1200",
    },
    popular: true,
    features: [
      "All Free Features",
      "One computer/laptop",
      "03 Quality Assurance Tests",
      "Check all PGP signatures",
      "User Manual",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Startup Features",
      "For organizations (gov and priv)",
      "10-minute video call",
      "Progressive discount",
      "Training availability",
      "Unlimited revisions",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing & Plans</Fragment>
      <Fragment slot="desc">
        The OsintMachineGuide configurations are based on open-source software, licensed for free. <br>
        The correct application of these configurations is a marketable service, and that is why this page exists. <br>
        <strong>We encourage you to do the configurations yourself</strong>, but if you don't have time, <br>
        we offer service packages that can be contracted below.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
