---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Do it yourself",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Unlimited users",
      "Unlimited Uses",
      "All features",
      "All instructions",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "https://github.com/AmazoniaLeaksOficial/OSINTMachineGuide",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$100",
      annual: "$1000",
      discount: "10%",
      original: "$1200",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        The OsintMachineGuide configurations are based on open-source software, licensed for free. 
        The correct application of these configurations is a marketable service, and that is why this page exists. 
        We encourage you to do the configurations yourself, but if you don't have time, 
        we offer service packages that can be contracted below.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
