---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = 
[{
    name: "Do it yourself",
    price: "Free",
    popular: false,
    features: 
    [
      "Lifetime free",
      "Unlimited Computers",
      "Unlimited users",
      "All features",
      "All instructions",
      "All default Tools",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "https://github.com/AmazoniaLeaksOficial/OSINTMachineGuide",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$200",
      annual: "$2000",
      discount: "10%",
      original: "$250",
    },
    popular: true,
    features: [
      "",
      "All Free Features",
      "One computer/laptop",
      "Additional Recommend OSINT Tools",
      "All Additional Tools PGP Signin Check",
      "Prices start at $200",
      "01 to 10 computers/laptops: $200 per machine",
      "Progressive discount(10%/machine)",
      "PDF User Manual",
      "Priority Support(email)",
              ],
    button: {
      text: "Get Started",
      link: "https://www.fiverr.com/s/8B6R3v",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: 
    [
      "All Features",
      "One computer/laptop",
      "Additional Recommend OSINT Tools",
      "All Additional Tools PGP Signin Check",
      "Prices negotiable. Quote on request",
      "Progressive discount(10%/machine)",
      "PDF User Manual",
      "Priority Support(email)",
      "Long-Term Possibility",
      "24/7 Support Possibility",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];

---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
