---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Morphing Debian(Linux Hardening)",
    description:
      "Transforme o Debian em Kicksecure, um S.O construído endurecido por padrão, cobrindo os principais tipos de ataques.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Virtual Machine Installation",
    description:
      "Download com segurança + Instalação e verificação de chave PGP, da forma correta, garantindo que suas VM's fiquem seguras.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Rotating Proxy Configuration",
    description:
      "Configurações de Proxy Rotativo sob o Tor Service, garantindo que suas investigações não sejam bisbilhotadas.",
    icon: "bx:bxs-data",
  },
  {
    title: "Tor-Browser Verification",
    description:
      "Processo para download e verificação de assinatura do Tor Browser e configurações iniciais de segurança.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Hard Firewall Install and Regras.",
    description:
      "Instalação de Firewall + Configuração Hardening de Regas avançadas para garantir maior segurança!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Installation Privacy Applications",
    description:
      "Instale aplicativos focados em privacidade e  OPSEC, como Kleopatra, KeePassXC, Zulu Crypt, e outras.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Maquina HOST endurecida para OSINT
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Não existe maquina 100% inviolável, dado o conhecimento, tempo e recursos de um adversário, nenhum sistema online esta seguro, 
mas ao aplicar as configurações deste GUIA, o trabalho do invasor torna-se muito mais dificil e a prova de malware persistente, além de diversas dicas e configurações avnadas.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
