---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Morphing Debian(Linux Hardening)",
    description:
      "Transforme o Debian em Kicksecure, um S.O construído endurecido por padrão, cobrindo os principais tipos de ataques.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Virtual Machine Installation",
    description:
      "Download com segurança + Instalação e verificação de chave PGP, da forma correta, garantindo que suas VM's fiquem seguras.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Rotating Proxy Configuration",
    description:
      "Configurações de Proxy Rotativo sob o Tor Service, garantindo que suas investigações não sejam bisbilhotadas.",
    icon: "bx:bxs-data",
  },
  {
    title: "Protection from Targeted Malicious Updates",
    description:
      "Kicksecure update servers know neither the identity nor IP address of the user because all upgrades are downloaded over Tor.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Kernel Self Protection Settings.",
    description:
      "Kicksecure uses strong Kernel Hardening Settings as recommended by the Kernel Self Protection Project (KSPP).",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Time Attack Protection",
    description:
      "Kicksecure defeats time attacks on its users through Boot Clock Randomization and secure network time synchronization using sdwdate.",
    icon: "bx:bxs-user",
  },
  {
    title: "No Open Ports by Default",
    description:
      "Kicksecure provides a much lower attack surface since there are no open server ports by default unlike in some other Linux distributions.",
    icon: "bx:bxs-bot",
  },
  {
    title: "CPU Information Leak Protection (TCP ISN)",
    description:
      "Without TCP ISN randomization, sensitive information about a system's CPU activity can be leaked through outgoing traffic, leaving it vulnerable to side-channel attacks. tirdad prevents that.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Brute Force Defense",
    description:
      "Kicksecure protects Linux user accounts against brute force attacks by using pam tally2.",
    icon: "bx:bxs-user",
  }, 
  {
    title: "Entropy Enhancements",
    description:
      "Strong entropy is required for computer security to ensure the unpredictability and randomness of cryptographic keys and other security-related processes. Kicksecure makes encryption more secure thanks to preinstalled random number generators.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Live Mode",
    description:
      "Kicksecure offers a much requested Live Mode. After the session all data will be gone.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Risk Minimization",
    description:
      "AppArmor profiles restrict the capabilities of commonly used, high-risk applications.",
    icon: "bx:bxs-user",
  },
 {
    title: "Strong Linux User Account Separation",
    description:
      "Linux User Account Separation is not always a given on Linux systems. In Kicksecure it is.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Virus Protection",
    description:
      "Kicksecure provides additional security hardening measures and user education for better protection from virus attacks.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Swap File Creator",
    description:
      "Running low on RAM isn't a security problem with swap-file-creator. It will create an encrypted swap file.",
    icon: "bx:bxs-user",
  },
 {
    title: "Tor-Browser Verification",
    description:
      "Processo para download e verificação de assinatura do Tor Browser e configurações iniciais de segurança.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Hard Firewall Install and Regras.",
    description:
      "Instalação de Firewall + Configuração Hardening de Regas avançadas para garantir maior segurança!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Installation Privacy Applications",
    description:
      "Instale aplicativos focados em privacidade e  OPSEC, como Kleopatra, KeePassXC, Zulu Crypt, e outras.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Maquina HOST endurecida para OSINT
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Não existe maquina 100% inviolável, dado o conhecimento, tempo e recursos de um adversário, nenhum sistema online esta seguro, 
mas ao aplicar as configurações deste GUIA, o trabalho do invasor torna-se muito mais dificil. Além disso, essa maquina é resistente a malware persistente, contanto ainda com de diversas 
dicas e configurações avançadas. Cobrindo os principais tipos de ataques e mitigação de CVE's.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
