---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome to the OsintMachineGuide
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      This project is part of the proposal for the OPSEC-for-OSINT(OFO) repository. OFO is a collaborative community dedicated to assisting OSINT investigators with advanced OPSEC processes. 
      <wbr /> Together, we explore innovative strategies to ensure security and effectiveness in their investigations.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">


    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://amazonialeaks.medium.com/resilient-osint-environment-system-for-resisting-powerful-adversaries-0294a54eed7a"
        target="_blank"
        rel="noopener">Read Full Article</Link
      >
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/AmazoniaLeaksOficial/OSINTMachineGuide"
        target="_blank">Do It Yourself</Link

</div>
  </div>
</main>
