---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:debian" />
    <Icon class="h-8 md:h-12" name="simple-icons:Qubesos" />
    <Icon class="h-8 md:h-14" name="simple-icons:Tails" />
    <Icon class="h-8 md:h-16" name="simple-icons:Virtualbox" />
    <Icon class="h-8 md:h-12" name="simple-icons:Gnu" />
    <Icon class="h-8 md:h-12" name="simple-icons:Kalilinux" />
    <Icon class="h-8 md:h-12" name="simple-icons:Linux" />
    <Icon class="h-8 md:h-12" name="simple-icons:Torproject" />
<Icon class="h-8 md:h-12" name="simple-icons:Xfce" />
 </div>
</div>
