---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
<p align="left">
<a href="https://www.debian.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/debian.svg" alt="debian" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://www.freebsd.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/freebsd.svg" alt="debian" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://www.qubes-os.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/qubes-os.svg" alt="qubes" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://tails.net/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/tails.svg" alt="tails" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://www.whonix.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/whonix.svg" alt="whonix" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://www.kali.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/icons8-kali-linux.svg" alt="kali" width="50" height="50"/> </a>&nbsp;&nbsp;
<a href="https://archlinux.org/" target="_blank" rel="noreferrer"> <img src="https://github.com/AmazoniaLeaksOficial/AmazoniaLeaksOficial/blob/main/Assets/icons8-arch-linux(1).svg" alt="arch" width="50" height="50"/> </a><br><br>
 </div>
</div>
